
body {
  font-size: 120%;
  text-align: center;
  color: rgb(190, 25, 190);
  background-color: white;
  line-height: 2;
  font-family: 'Oxanium',Arial, Helvetica, sans-serif ;
  
}
ul li{
  list-style: none;
  text-decoration: none;
  color: blue;
}
a{
  text-decoration: none;
  color: blue;
  background-color: lightblue;
  border:2px solid black;
  padding: 0.5rem;
  
}
a:hover{
  color: blueviolet;
  border:dashed 2px black ;
}
input[type="radio"]{
  height: 1rem;
  font-size: 1rem;
  
}
form{
  text-align: center;
}
input[type="submit"]{
  font-size: 1.7rem;
  border-radius: 10%;
  width: 80%;
  margin: 20px auto;
  
  

}
.radio-button-group{
  text-align: left;
  width: 30%;
  margin: 0 auto;
}
