<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'home/styles.css' %}">
    <link rel="shortcut icon" href="{% static 'home/images/favicon.ico' %}" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=Oxanium:800&display=swap" rel="stylesheet">

</head>

<body>
    <h1>Polls App</h1>
    <a class="poll-link" href="{% url 'polls:index' %}">View Polls</a>
    <a href="{% url 'polls:CreatePolls' %}" class="poll-link">Create Polls</a>
</body>

</html>